Express-JS/pertemuan-2-express-js-module-biodata/node_modules/
Express-JS/pertemuan-2-express-js-module-biodata/.env
Express-JS/pertemuan-9-exrpess-js-sequelize-biodata/node_modules/
Express-JS/pertemuan-9-exrpess-js-sequelize-biodata/.env
Express-JS/pertemuan-11/authentication-migrate/node_modules/
Express-JS/pertemuan-11/authentication-migrate/.env
Express-JS/pertemuan-11/travel-api/node_modules/
Express-JS/pertemuan-11/travel-api/.env
Express-JS/pertemuan-14-laundry-api/node_modules/
Express-JS/pertemuan-14-laundry-api/.env
